button{
    border-color: transparent;
    border-radius: 40px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1rem;
    margin-inline: 3px;
}
#bP{
    background: #feca57;
    color: #2b1055;
}
#bW{
    background: #fff;
    color: #2b1055;
}
#bY{
    background: #2b1055;
    color: #ff9f43;
}
@media only screen and (max-width:850px){
    button{
      /* width: 32%; */
      height: auto;
      font-size: 1vw;
    }  
  }