.lol{
    z-index: 9;
    white-space: nowrap
}
span h1{
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
}
span h1#l{
    color: #fff;
    -webkit-text-stroke: 1px #1c0522;

}
img{
    height: 3rem;
}

